table {
  border: 1px #a39485 solid;
  border-radius: 30px;
  width: 700px;
  text-align: center;
  border: 3px solid #fff;
  border-spacing: 2px;
  font-family: 'Jua', sans-serif;
  border-collapse: collapse;
  margin: auto;
}

caption {
  border-radius: 20px;
  font-weight: bold;
}

table td {
  padding: 10px;
  background-color: #eee;
}

table th {
  background-color: navy;
  color: #fff;
  padding: 10px;
}

.view,
.delete {
  border: none;
  padding: 5px 10px;
  color: #fff;
  font-weight: bold;
}

.view {
  background-color: navy;
}

.tablefoot {
  padding: 0;
  border-bottom: 3px solid navy;
}

.create__room_btn {
  display: flex;
  justify-content: flex-end;
  background-color: navy;
}
