table {
  border: 1px #a39485 solid;
  border-radius: 30px;
  width: 700px;
  text-align: center;
  border: 3px solid #fff;
  border-spacing: 2px;
  font-family: 'Jua', sans-serif;
  border-collapse: collapse;
  margin: auto;
}

caption {
  border-radius: 20px;
  font-weight: bold;
}

table td {
  padding: 10px;
  background-color: #eee;
}

table th {
  background-color: #1363df;
  color: #fff;
  padding: 10px;
}
/* img라고 쓸시 전역에 영향이 있어서 이름 변경, 이미지 태그 안에 이 클래스 네임을 넣어서 사용하세요. */
.img-css {
  width: 90px;
  height: 90px;
}

.view,
.delete {
  border: none;
  padding: 5px 10px;
  color: #fff;
  font-weight: bold;
}

.view {
  background-color: #03a9f4;
}

.tablefoot {
  padding: 0;
  border-bottom: 3px solid #03a9f4;
}

.create__room_btn {
  display: flex;
  justify-content: flex-end;
  background-color: #03a9f4;
}
