.comments-wrapper .comments-header {
  margin: 1rem 0;
  display: flex;
}
.comments-wrapper .comments-header .comments-header-textarea {
  flex: 1;
}
.comments-wrapper
  .comments-header
  .comments-header-textarea::-webkit-scrollbar {
  display: none;
}
.comments-wrapper .comments-header button {
  margin-left: 0.5rem;
  font-size: 1.1rem;
}
.comments-wrapper .comments-body .comments-comment {
  margin: 0.5rem 0;
}
.comments-wrapper .comments-body .comments-comment .comment-username-date {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.comments-wrapper
  .comments-body
  .comments-comment
  .comment-username-date
  .comment-date {
  color: lightgray;
}
.comments-wrapper .comments-body .comments-comment .comment-content {
  white-space: pre-wrap;
  word-break: break-all;
  margin: 0.4rem auto;
}
.comments-wrapper .comments-body .comment-username {
  display: flex;
  flex-direction: row-reverse;
  align-items: baseline;
  font-weight: 600;
}
.comments-wrapper .comments-footer {
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
}

.delete__btn {
  position: relative;
  left: 30px;
  background-color: red;
}

.edit__btn {
  background-color: #1363df;
}

.btn__box {
  display: flex;
  position: relative;
  left: 170px;
}
