.uploader-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 15px;
}
.uploader-wrapper .img-wrapper img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.btn-box { 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
}