.flex {
  align-items: center;
  display: flex;
  justify-content: center;
}

.card {
  backdrop-filter: blur(10px);
  background: rgba(254, 254, 254, 0.075);
  border: 1px solid rgba(254, 254, 254, 0.18);
  border-radius: 15px;
  box-shadow: 0 10px 35px 0 rgba(54, 33, 0, 0.65);
  color: black;
  max-width: 414px;
  overflow: hidden;
  margin: 30px 40px;
  padding: 20px 30px 50px 30px;
  position: relative;
  text-align: center;
  display: flex;
  z-index: 1;
}

.card__heading {
  font-size: 1.35rem;
  font-weight: 800;
  margin-bottom: 15px;
}

.card__input {
  background: rgba(254, 254, 254, 0.075);
  border: 1px solid #1363df;
  border-radius: 15px;
  box-sizing: border-box;
  color: #000000;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  margin-top: 15px;
  padding: 10px;
  width: 100%;
}

.card__button1 {
  width: 100%;
  background: #32cd32;
  border: none;
  border-radius: 20px;
  color: white;
  margin: 15px auto 0 auto;
  padding: 8px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__button2 {
  width: 100%;
  background: #1363df;
  border: none;
  border-radius: 20px;
  color: white;
  margin: 15px auto 0 auto;
  padding: 8px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__button3 {
  width: 100%;
  background: #e91e63;
  border: none;
  border-radius: 20px;
  color: white;
  margin: 15px auto 0 auto;
  padding: 8px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__button4 {
  width: 100%;
  background: skyblue;
  border: none;
  border-radius: 20px;
  color: white;
  margin: 15px auto 0 auto;
  padding: 8px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

